<!Doctype Html>  
<Html>     
<Head>      
<Title>Make a Navigation Bar  </Title>  

<style>   
body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif;  
}  
header {  
background-color: black;  
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 30px;  
display: flex;  
align-items: center;  
box-shadow: 0 0 25px 0 black;  
}  
header * {  
display: inline;  
}  
header li {  
margin: 20px;  
}  
header li a {  
color: white;  
text-decoration: none;  
}  
</style>   
</Head>  
<Body>   
<header>  
<nav>  
<ul>  
<li>  
<a href="contest">Create Contest </a> 
</li>  
<li>  
<a href="contestlist"> Update Contest </a>  
</li>  
<li>  
<a href="#"> View Contest Details </a>  
</li>   
</ul>  
</nav>  
</header>  

</Body>   
</Html>  