<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Webkorps</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="icon" type="image/x-icon" href="images/Grouplogo.svg" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
</head>

<body class="body3">
	<section class="section3">
		<div class="overla">
			<div class="container-fluid container_contest">
				<div class="nav mt-4 bg_white1">
					<div class="left mx-5 ">
						<img src="images/Grouplogo.svg" alt="logo" class="mb-2" width="60" height="70" />
						<p class="logo-text1">WEBKORPS</p>
					</div>
				</div>
			</div>
			<div class="container mx-auto">
				<div class="card_scroll1">
					<div class="div_card_white3 mx-auto mt-5 pt-4">
						<div class=" div_card_flex1  ">
							<div class="div_card_inner_white_compiler1 bg-light">
								<div class="row">
									<div class="col-1 div_card_inner_blue"></div>
									<div class="col-11 second-div1">
										<div class="col-2 compiler_heading">
											<h1 class="compiler_heading_text pt-2">Test Case 1</h1>
										</div>
										<div class="col">
											<label class="fw-bold  text-dark  _problem_input1 ">
												<p>Problem statement</p>
											</label><br/>
											<textarea readonly="readonly" class="form-control  testcase_problem_input2 bg-white  "
												placeholder="Write a Program to Reserve a String?"></textarea>

										</div>
										<div class="col">

											<label class="fw-bold  text-dark problem_input1 mt-2">
												<p>Constraints</p>
											</label>
											<textarea readonly="readonly" class="form-control  testcase_problem_input2 bg-white "
												placeholder="String ! = null"></textarea>

										</div>
										<div class="col third-div ">
											<div class="col mx-4  ">
												<label class="fw-bold  text-dark mt-2  ">Sample Input</label>
												<textarea readonly="readonly" class="form-control  testcase_problem_input5 bg-white "
													placeholder="input here"></textarea>
											</div>
											<div class="col">
												<div class="">
													<label class="fw-bold  text-dark mt-2">Sample Output </label>

													<textarea readonly="readonly" class=" form-control bg-white  testcase_problem_input3  "
														placeholder="output here"></textarea>
												</div>
											</div>
										</div>
										<div class="row  mb-3">

										</div>
									</div>


								</div>
							</div>
							<div class="compiler_screen">
								<div class="compiler_screen_upper ">
									<div class="pt-2 px-2">
										<h1 class="compiler_screen_upper_text ">Code Compiler</h1>
									</div>
									<div class="d-flex justify-content-end">
										<div class="pt-4 px-5 float-end">
											<h1 class=" compiler_screen_upper_text2">Select
												Technology</h1>
										</div>
										<div class="pt-3 ">

											<select
												class=" btn compiler_screen_upper_btn2 bg-primary fw-bold text-white mx-2 px-3"
												aria-label="Default select example  ">
												<option value="1">C</option>
												<option value="2">C++</option>
												<option value="3">Java</option>
												<option value="4">Python</option>
											</select>

										</div>
									</div>
								</div>
								<div class="compiler_screen_lower"></div>
							</div>

						</div>
						<div class="d-flex justify-content-end mx-5 compiler_screen_btn_test  ">
							<button
								class="compiler_screen_test btn btn-outline-primary text-light fw-bold ">Test</button>

							<button
								class="compiler_screen_test btn btn-outline-primary text-light fw-bold mx-3">Submit</button>
							<button
								class="compiler_screen_test btn btn-outline-primary text-light fw-bold">Next</button>
						</div>
						<div class="row">
							<div class="col-6"></div>
							<div class="col-6 mt-2 ">
								<div class="test_code1">
									<div class="test_code_heading ">
										<h1 class="test_code_heading_text  mt-3 mx-3 pb-2 pt-2">Test Code</h1>
									</div>
									<div class="compiler_test_code_scroll">
										<div>
											<h1 class="text_testcode1 px-4   ">

												elppa
											</h1>
										</div>
										<div class="">
											<h1 class="text_testcode1 px-4 ">

												elppa
											</h1>
										</div>
										<div class="">
											<h1 class="text_testcode1 px-4 ">

												elppa
											</h1>
										</div>
										<div class="">
											<h1 class="text_testcode1 px-4">

												elppa
											</h1>
										</div>
										<div class="">
											<h1 class="text_testcode1 px-4">

												elppa
											</h1>
										</div>
									</div>



								</div>

							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
		
	</section>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>